:root {
  --bs-primary: #000c49;
  --bs-secondary: #ee7d14;
  --btn-gray: #eeeeee;
  --btn-blue: #000c49;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

body {
  font-family: inter;
  margin: 0;
  padding: 0;
}

.logo {
  max-height: 2.2rem;
}

.btn-gray {
  background-color: var(--btn-gray);
}

.navbar-list-orange li a:hover {
  color: var(--bs-secondary);
}

.links-list-orange li {
  transition: transform 0.3s;
}

.links-list-orange li:hover {
  transform: translateX(5px);
  color: var(--bs-secondary);
}

.btn-facebook:hover {
  color: #3b5998;
  cursor: pointer;
}
.btn-twitter-x:hover {
  color: #3b3434;
  cursor: pointer;
}
.btn-instagram:hover {
  color: #e4405f;
  cursor: pointer;
}
.btn-youtube:hover {
  color: #cd201f;
  cursor: pointer;
}
.btn-discord:hover {
  color: #7289da;
  cursor: pointer;
}

.btn-white-bg-orange:hover {
  color: #fff;
  background-color: var(--bs-secondary);
}

.btn-list-white-bg-orange li:hover {
  color: #fff;
  background-color: var(--bs-secondary);
}

/* ======== Estilização Geral ======== */

.list-group-item:last-child {
  border-bottom: none; /* Remove a linha do último item */
}

.list-group-item a {
  color: #000b49;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.list-group-item a:hover {
  color: #ee7d14;
}

.list-group-item i {
  margin-right: 1rem;
}

/* ======== Sidebar UTILIDADES ======== */
.utilities h1 {
  color: #000c49;
  font-size: 1.6rem;
}

/* Estilização dos itens da barra de utilidades */
.utilities .list-group-item {
  text-align: center; /* Centraliza o texto */
  font-weight: bold;
  color: #000c49; /* Cor padrão */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

/* Efeito ao passar o mouse */
.utilities .list-group-item:hover {
  background-color: #f5f5f5; /* Fundo mais claro */
  color: #ee7d14 !important; /* Texto laranja */
  cursor: pointer;
}

.banner-extensions {
  background: url("/assets/bg.png") no-repeat center center;
  background-size: cover;
  min-height: 150px;
}

.card.bg-light {
  background-color: #f0f0f0 !important;
  border-radius: 5px;
}

[data-bs-theme="dark"] {
  --bs-primary: #ffffff;

  body {
    background-color: #181a1b;
  }
  .bg-light {
    background-color: #1b1e1f !important;
  }

  .btn-gray {
    background-color: #222426;
  }

  .bg-white {
    background-color: #181a1b !important;
  }
}
