@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #000c49;
  --blue-color: #1f349e;
  --secondary-color: #ee7d14;
  --tertiary-color: #6e6d6d;
  --quaternary-color: #000418;

  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--primary-color);
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: #eee;
}

section {
  padding: 2rem 9%;
}

/* ===================================== Home =============================== */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../assets/bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content {
  text-align: center;
  justify-content: center;
  width: 100rem;
}

.home .content h3 {
  color: var(--white-color);
  font-size: 6rem;

  margin-top: 6rem;

  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--secondary-color);
}

.home .content p {
  color: var(--quaternary-color);
  font-size: 1.7rem;
  line-height: 1.8;
}

.home .content .text-content {
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
  padding-top: 2rem;
  font-size: 2rem;
  justify-content: center;
  text-transform: uppercase;
  border-top: solid 1rem var(--secondary-color);
  width: 50rem;
}

.home .content .text-content span {
  color: var(--white-color);
}

.home .content .text-content .text-warning {
  color: var(--secondary-color);
}

p {
  font-size: 1.7rem;
  color: var(--tertiary-color);
  line-height: 1.8;
}

ul {
  list-style: none;
}

ul li {
  font-size: 1.7rem;
  color: var(--tertiary-color);
  line-height: 1.8;
}

.btn-home {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
  background: none;
}

.btn-home:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

/* ================================ Container =============================== */
.container {
  display: flex;
  margin-top: 2rem;
  padding: 2rem;
}

/* =========================== container-left =============================== */

.container-left {
  flex: 4; /* 80% */
  padding: 0 2rem 2rem 2rem;
}

.monitarians {
  padding: 0;
}

.monitarians .breadcrumb {
  padding: 1.4rem;
  font-size: 1.4rem;
  background-color: #eee;
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
}

.monitarians .breadcrumb a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 2rem;
}

.monitarians .breadcrumb span {
  color: var(--tertiary-color);
}

.monitarians .box-main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.monitarians .box-main h1 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2rem;
}

.monitarians .box-main .news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.monitarians .box-main .news-cards .card {
  background-color: var(--white-color);
  border-radius: 0.8rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: calc(33.33% - 2rem);
  min-width: 28rem;
  display: flex;
  flex-direction: column;
}

.monitarians .box-main .news-cards .card:hover {
  transform: scale(1.02);
}

.monitarians .box-main .news-cards .card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.monitarians .box-main .news-cards .card .card-content {
  padding: 1.6rem;
}

.monitarians .box-main .news-cards .card .card-content h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.monitarians .box-main .news-cards .card .card-content p {
  font-size: 1.4rem;
  color: #777;
}

/* =========================== container-right =============================== */

.container-right {
  flex: 1; /* 20% */
  padding: 0;
}

.utilities {
  padding: 1rem;
  border-radius: 1rem;
}

.utilities h1 {
  color: var(--primary-color);
  text-align: left;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.utilities .utilities-list {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  list-style: none;
  padding: 0;
  text-align: center;
}

.utilities .utilities-list li {
  border-bottom: 0.1rem solid #e0e0e0;
}

.utilities .utilities-list li a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.utilities .utilities-list li a:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.02);
}
