main {
  color: var(--bs-primary);
}

main .card.bg-light {
  background-color: #f0f0f0 !important;
  border-radius: 5px;
}

.card.bg-light {
  background-color: #f0f0f0 !important;
  border-radius: 5px;
}

.subject-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

[data-bs-theme="dark"] {
  --bs-primary: #ffffff;

  body {
    background-color: #181a1b;
  }
  .bg-light {
    background-color: #1b1e1f !important;
  }

  .btn-gray {
    background-color: #222426;
  }

  .bg-white {
    background-color: #181a1b !important;
  }
}
